.about-care {
	background-image: url(../img/bg-care-desktop@1x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	padding-top: 85px;
	padding-bottom: 51px;

	@media (min-resolution: $retina-dppx) {
		background-image: url(../img/bg-care-desktop@2x.jpg);
	}
}

.about-care__title {
	margin-bottom: 48px;
}

.about-care__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding-left: 105px;
}

.about-care__item {
	width: 560px;
	height: 165px;
	border: 1px solid #a07b50;
	padding-right: 60px;
	padding-left: 60px;
	margin-right: 45px;
	margin-bottom: 45px;
	position: relative;

	&:hover {
		background-color: #151313;
		cursor: pointer;
	}
}

.about-care__item::after {
	content: "";
	display: block;
	position: absolute;
	width: 59px;
	height: 164px;
	border-left: 1px solid #a07b50;
	background-color: #a07b50;
	top: 0;
	right: 0;
}

.about-care__item::before {
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url(../img/arrowDetails.svg);
	background-repeat: no-repeat;
	top: 74px;
	right: 17px;
	z-index: 1;
}

.about-care__item:hover::after {
	background-color: #151313;
	border: 1px solid #a07b50;
	border-right: none;
	border-top: none;
}

.about-care__item h3 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 14px;
}

.about-care__item p {
	color: #ffffff;
	font-size: 14px;
	margin: 0;
	width: 400px;
}

@media (max-width: $tablet-width) {
	.about-care {
		background-image: url(../img/bg-care-tablet@1x.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 90px;

		@media (min-resolution: $retina-dppx) {
			background-image: url(../img/bg-care-tablet@2x.jpg);
		}
	}

	.about-care__title {
		margin-bottom: 40px;
	}

	.about-care__item {
		margin-bottom: 25px;
	}
}

@media (max-width: $mobile-width)  {
	.about-care {
		background-image: url(../img/bg-care-mobile@1x.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 60px;
		padding-bottom: 60px;

		@media (min-resolution: $retina-dppx) {
			background-image: url(../img/bg-care-mobile@2x.jpg);
		}
	}

	.about-care__title {
		font-size: 28px;
		margin: 0 auto;
		margin-bottom: 40px;
		width: 228px;
	}

	.about-care__list {
		padding: 0;
	}

	.about-care__item {
		width: 290px;
		min-height: 152px;
		padding: 25px;
		padding-right: 50px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.about-care__item h3 {
		margin-top: 0;
		font-size: 18px;
	}

	.about-care__item p {
		width: auto;
		font-size: 14px;
	}

	.about-care__item::after {
		width: 46px;
		min-height: 152px;
	}

	.about-care__item::before {
		right: 10px;
	}
}
