.answesrs {
	margin: 0;
}

.answesrs__title {
	margin-top: 75px;
	margin-bottom: 20px;
}

.answesrs__description {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 55px;
}

.answesrs__list {
	list-style: none;
	color: #ddd0c3;
	width: 910px;
	margin: 0 auto;
	margin-bottom: 55px;
	padding-left: 115px;
	counter-reset: section;
}

.answesrs__item {
	position: relative;
}

.answesrs__item::before {
    counter-increment: section;
    content: "0" counter(section);
	position: absolute;
	left: -110px;
	top: 20px;
	font-style: bold;
	font-size: 70px;
	color: #a07b50;
}

.item__question {
	border: 1px solid #a07b50;
	width: 795px;
	min-height: 110px;
	padding-left: 40px;
	padding-top: 50px;
	margin-top: 40px;
	position: relative;
}

.item__answesr {
	border: 1px solid #a07b50;
	width: 795px;
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 195px;
	padding-bottom: 47px;
}

.answesrs__button {
	width: 104px;
	height: 109px;
	background-color: #1f1c1d;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	color: #a07b50;
	border: 1px solid #a07b50;
	border-right: none;
	border-top: none;

	&:hover {
		background-color: #a07b50;
		color: #ffffff;
	}

	&:active {
		background-color: #a07b50;
		color: #ffffff;
	}
}

.answesrs__add-question {
	margin-left: 915px;
}
