.answers {
	margin: 0;
}

.answers__title {
	margin-top: 75px;
	margin-bottom: 20px;
}

.answers__description {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 55px;
}

.answers__list {
	list-style: none;
	color: #ddd0c3;
	width: 910px;
	margin: 0 auto;
	margin-bottom: 55px;
	padding-left: 115px;
	counter-reset: section;
}

.answers__item {
	position: relative;
}

.answers__item::before {
    counter-increment: section;
    content: "0" counter(section);
	position: absolute;
	left: -110px;
	top: 20px;
	font-style: bold;
	font-size: 70px;
	color: #a07b50;
}

.answers__item-question {
	border: 1px solid #a07b50;
	width: 795px;
	min-height: 110px;
	padding-left: 40px;
	padding-top: 50px;
	margin-top: 40px;
	position: relative;
}

.answers__item-answer {
	border: 1px solid #a07b50;
	width: 795px;
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 195px;
	padding-bottom: 47px;
}

.answers__button {
	width: 104px;
	height: 109px;
	background-color: #1f1c1d;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	fill: #a07b50;
	border: 1px solid #a07b50;
	border-right: none;
	border-top: none;

	&:hover {
		background-color: #a07b50;
		fill: #ffffff;
	}

	&:active {
		background-color: #a07b50;
		fill: #ffffff;
	}
}

.answers__add-question {
	margin-left: 972px;
}

@media (max-width: $tablet-width) {
	.answers__list {
		width: 635px;
		padding-left: 80px;
	}

	.answers__list :nth-child(2n) .answers__item-question {
		padding-top: 30px;
	}

	.answers__item::before {
		font-size: 50px;
		top: 10px;
		left: -80px;
	}

	.answers__item-question {
		width: 555px;
		min-height: 77px;
		padding: auto;
		padding-right: 140px;
		padding-left: 30px;
		padding-top: 20px;
	}

	.answers__item-answer {
		width: 555px;
		padding-left: 30px;
		padding-right: 145px;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.answers__button {
		width: 74px;
		height: 76px;
	}

	.js-answers-button-1--active,
	.js-answers-button-2--active,
	.js-answers-button-3--active,
	.js-answers-button-4--active {
		background-color: #a07b50;
	}

	.answers__add-question {
		margin-left: 535px;
	}
}
