.main-navigation {
	display: flex;
	margin-bottom: 115px;
	margin-left: 180px;
	padding: 0;
}

.main-navigation__pages {
	margin-top: 50px;
}

.main-navigation__pages a{
	color: #ffffff;
	opacity: 0.2;
	padding-right: 50px;
}

.main-navigation__pages--active a{
	opacity: 1;
}

.main-navigation__logo {
	padding-left: 100px;
	margin-top: 45px;
	order: 4;
}

@media (max-width: $tablet-width) {
	.main-navigation {
		margin-bottom: 90px;
		margin-left: 45px;
	}

	.main-navigation__pages {
		margin-top: 40px;
	}

	.main-navigation__pages a{
		padding-right: 35px;
	}

	.main-navigation__logo {
		padding-left: 45px;
		margin-top: 35px;
		order: 4;
	}
}

@media (max-width: $mobile-width) {
	.main-navigation {
		flex-wrap: wrap;
		margin-left: 0;
	}
	
	.main-navigation__logo {
		order: 0;
		margin-top: 25px;
		padding: 0;
		width: 320px;
		text-align: center;
	}

	.main-navigation__pages {
		font-size: 15px;
		margin-left: 25px;
	}

	.main-navigation__pages a {
		padding-right: 10px;
	}
}
