.main-footer {
	background-color: #151313;
	margin: 0;
}

.main-footer {
	display: flex;
}

.main-footer__social-list {
	list-style: none;
	display: flex;
}

.main-footer__social-item a,
.main-footer__logo {
	fill: #a07b50;
}

.main-footer__social-item a:hover,
.main-footer__logo:hover {
	fill: #ffffff;
}

.main-footer__address,
.main-footer__tel {
	color: #ffffff;
}
