.our-team {
	background-color: #151313;
	margin: 0;
	position: relative;
	padding-bottom: 70px;
}

.our-team__title {
	padding-top: 85px;
	margin-bottom: 30px;
}

.our-team__description {
	width: 510px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
}
