.our-team {
	background-color: #151313;
}

.our-team__paragraf {
	width: 510px;
}

.team-slider__paragraf {
	color: #ffffff;
	opacity: 0.72;
	width: 400px;
}

.our-team-slider-2__list, .our-team-slider-1__list {
	list-style: none;
	display: flex;
}