.pats {
	margin: 0;
	
	position: relative;
} 

.pats__title {
	margin-top: 225px;
}

.pats__description {
	width: 530px;
	text-align: center;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 40px;
}

.pats__list {
	list-style: none;
	display: flex;
	margin-left: 555px;
	margin-bottom: 45px;
}

.pats__button{
	border-style: none;
	font-size: 18px;
	color: #ffffff;
	opacity: 0.2;
	background-color: #1f1c1d;
	cursor: pointer;
}

.pats__image-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 490px;
	width: 1030px;
	margin: 0 auto;
	margin-bottom: 75px;
}

.pats__image-litle {
	width: 519px;
	height: 214px;
	margin-bottom: 30px;
	margin-right: 35px;
}

.pats__image-megium {
	width: 519px;
	height: 241px;
}

.pats__image-big {
	width: 475px;
	height: 485px;
}

.pats__button--active {
	opacity: 1;
}

.pats__see-more {
	margin-left: 585px;
}

.pats__image-button {
	
	display: none;
}

.pats__image-button--left {
	left: 90px;
}

.pats__image-button--right {
	right: 90px;
}

@media (max-width: $tablet-width) {
	.pats__list {
		margin-left: 245px;
	}

	.pats__see-more {
		margin-left: 280px; 
	}

	.pats__image-list {
		width: 605px;
		align-content: center;
	}

	.pats__image-litle {
		margin: 0;
		margin-top: 110px;
		margin-left: 40px;
	}

	.pats__image-megium {
		margin: 0;
		margin-top: 110px;
		margin-left: 30px;
	}

	.pats__image-big {
		width: 475px;
		height: 490px;
	}	

	.pats__image-button {
		display: inline-block;
		border: none;
		background-color: #1f1c1d;
		cursor: pointer;
	
		position: absolute;
		top: 50%;
	
		& svg {
			stroke: #A07B50;
			width: 12px;
			height: 29px;
		}
	
		&:hover svg {
			stroke: #ffffff;
		}
	}
	
	.pats__image-button--left {
		left: 30px;
	}
	
	.pats__image-button--right {
		right: 30px;
	}
}
