.pats_paragraf {
	width: 516px;
}

.pats__list {
	list-style: none;
	display: flex;
}

.pats__button{
	border-style: none;
	font-size: 18px;
	color: #ffffff;
	opacity: 0.2;
	background-color: #1f1c1d;
}

.pats__button--active {
	opacity: 1;
}