.reviews {
	margin: 0;
	position: relative;
}

.reviews__title {
	margin-top: 20px;
	margin-bottom: 55px;
}

@media (max-width: $mobile-width) {
	.reviews__title {
		margin-top: 35px;
		margin-bottom: 0;
		font-size: 28px;
	}
}
