.reviews {
	margin: 0;
	position: relative;
}

.reviews__title {
	margin-top: 20px;
	margin-bottom: 55px;
}


.reviews__slider-button {
	border: none;
	background-color: #1f1c1d;
	cursor: pointer;

	position: absolute;
	top: 50%;

	& svg {
		stroke: #A07B50;
		width: 12px;
		height: 29px;
	}

	&:hover svg {
		stroke: #ffffff;
	}
}

.reviews__slider-button--left {
	left: 90px;
}

.reviews__slider-button--right {
	right: 90px;
}
