.reviews-slider__slide {
	display: flex;
	justify-content: center;
}

.reviews-slider__slide picture {
	position: relative;
	left: 51px;
	top: 45px;
	z-index: 1;
}

.reviews-slider__container {
	background-color: #151313;
	width: 640px;
	min-height: 408px;
	padding-top: 110px;
	padding-left: 145px;
	position: relative;
	left: -51px;
}

.reviews-slider__name,
.reviews-slider__review {
	color: #ffffff;
}

.reviews-slider__name {
	font-size: 24px;
}

.reviews-slider__review {
	opacity: 0.72;
	width: 410px;
	font-size: 14px;
	margin-bottom: 45px;
}

.reviews-slider__date {
	font-size: 12px;
	padding-left: 25px;
}

.reviews-slider__button {
	border: none;
	background-color: #1f1c1d;
	cursor: pointer;

	position: absolute;
	top: 50%;

	& svg {
		stroke: #A07B50;
		width: 12px;
		height: 29px;
	}

	&:hover svg {
		stroke: #ffffff;
	}
}

.reviews-slider__button--left {
	left: 90px;
}

.reviews-slider__button--right {
	right: 90px;
}

@media (max-width: $tablet-width) {
	.reviews-slider__slide picture {
		position: absolute;
		top: 150px;
		left: 235px;
	}

	.reviews-slider__container {
		width: 578px;
		min-height: 368px;
		margin-left: 100px;
		margin-top: 150px;
		padding: 0;
		padding-top: 110px;
		text-align: center;
	}

	.reviews-slider__review {
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.reviews-slider__button {
		top: 400px;
	}

	.reviews-slider__button--left {
		left: 40px;
	}
	
	.reviews-slider__button--right {
		right: 40px;
	}
}
