.reviews-slider h3,
.reviews-slider p {
	color: #ffffff;
}

.reviews-slider p {
	opacity: 0.72;
}

.reviews__slider-button {
	border: none;
	background-color: #1f1c1d;
	cursor: pointer;

	& svg {
		stroke: #A07B50;
		width: 12px;
		height: 29px;
	}

	&:hover svg {
		stroke: #ffffff;
	}
}