.specials {
	margin: 0;
	position: relative;
}

.specials__paragraf {
	width: 750px;
	text-align: center;
	margin: 0 auto;
}

.specials__image-container {
	position: relative;
	margin-left: 400px;
}

.specials__image-cat {
	position: relative;
	z-index: 1;
}

.specials__image-container::before {
	content: "";
	position: absolute;
	display: block;
	background-color: #151313;
	width: 520px;
	height: 520px;
	border-radius: 50%;
	top: 185px;
	left: 30px;
}

.specials__image-container::after {
	content: "";
	position: absolute;
	display: block;
	width: 630px;
	height: 630px;
	border: 1px solid #a07b50;
	border-radius: 50%;
	top: 130px;
	left: -25px;
}

.specials__list {
	list-style: none;
	position: absolute;
	top: 380px;
	left: 35px;
	z-index: 2;
}

.specials__list :nth-child(2n) {
	text-align: left;
	width: 200px;
	left: 960px;
}

.specials__list :nth-child(1) {
	left: 5px;
}

.specials__list :nth-child(2) {
	margin-bottom: 130px;
}

.specials__list :nth-child(3) {
	margin-bottom: 0;
}

.specials__list :nth-child(4) {
	margin-bottom: 0;
	left: 915px;
}

.specials__item {
	position: relative;
	color: #ffffff;
	text-align: right;
	width: 300px;
	margin-bottom: 75px;
}

.specials__item::after {
	content: "";
	position: absolute;
	display: block;
	background-color: #a07b50;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	top: 5px;
	right: -40px;
}

.specials__list :nth-child(2n)::after {
	left: -40px;
}
