.team-slider__slide {
	display: flex;
	justify-content: center;
}

.team-slider__slide img {
	width: 360px;
	height: 356px;
	position: relative;
	right: -23px;
	z-index: 1;
}

.team-slider__wrapper {
	border: 1px solid rgba($color: #a07b50, $alpha: 0.43);
	width: 660px;
	min-height: 402px;
	position: relative;
	left: -23px;
}

.team-slider__content {
	width: 600px;
	min-height: 356px;
	padding-left: 100px;
	padding-bottom: 20px;
	margin-left: 25px;
	margin-bottom: 20px;
	background-color: #1f1c1d;
}

.team-slider__name {
	font-size: 24px;
	padding-top: 70px;
	margin-bottom: 10px;
}

.team-slider__position {
	margin-top: 10px;
	margin-bottom: 30px;
}

.team-slider__description {
	color: #ffffff;
	opacity: 0.72;
	width: 405px;
	margin-bottom: 40px;
}
