.team-socials {
	list-style: none;
	display: flex;
	padding: 0;
}

.team-socials__item {
	margin-right: 15px;
}

.team-socials__item svg {
	fill: #ffffff;

	&:hover {
		fill: #a07b50;
	}
}

@media (max-width: $mobile-width) {
	.team-socials {
		justify-content: center;
	}
}
