.team-slider__slide {
	display: flex;
	justify-content: center;
}

.team-slider__slide picture {
	position: relative;
	right: -23px;
	z-index: 1;
}

.team-slider__wrapper {
	border: 1px solid rgba($color: #a07b50, $alpha: 0.43);
	width: 660px;
	min-height: 402px;
	position: relative;
	left: -23px;
}

.team-slider__content {
	width: 600px;
	min-height: 356px;
	padding-left: 100px;
	margin-left: 25px;
	margin-bottom: 20px;
	background-color: #1f1c1d;
}

.team-slider__name {
	font-size: 24px;
	padding-top: 70px;
	margin-bottom: 10px;
}

.team-slider__position {
	margin-top: 10px;
	margin-bottom: 30px;
}

.team-slider__description {
	color: #ffffff;
	opacity: 0.72;
	width: 405px;
	margin-bottom: 40px;
}

.team-slider__slider-button {
	position: absolute;
	top: 50%;
	border: none;
	background-color: #151313;
	cursor: pointer;

	& svg {
		stroke: #A07B50;
		width: 12px;
		height: 29px;
	}

	&:hover svg {
		stroke: #ffffff;
	}
}

.team-slider__slider-button--left {
	left: 90px;
}

.team-slider__slider-button--right {
	right: 90px;
}

@media (max-width: $tablet-width) {
	.team-slider__slide picture {
		position: absolute;
		bottom: 100px;
		right: 130px;
	}

	.team-slider__wrapper {
		position: static;
		width: 650px;
		min-height: 410px;
	}

	.team-slider__content {
		width: 600px;
		min-height: 359px;
		margin: 25px;
		padding-left: 105px;
	}

	.team-slider__slider-button {
		top: auto;
		bottom: 97px;
	}

	.team-slider__slider-button--left {
		left: 390px;
	}
}

@media (max-width: $mobile-width) {
	.team-slider__wrapper {
		width: 290px;
		min-height: 275px;
		border: none;
	}

	.team-slider__content {
		width: 290px;
		min-height: 275px;
		margin: 0;
		padding: 0;
	}

	.team-slider__name {
		font-size: 18px;
		margin-top: 0;
		text-align: center;
	}

	.team-slider__position {
		font-size: 14px;
		text-align: center;
		margin-bottom: 25px;
	}

	.team-slider__description {
		width: 275px;
		font-size: 14px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.team-slider__slide picture {
		bottom: 270px;
		right: 80px;
	}

	.team-slider__slider-button {
		bottom: 315px;
		background-color: transparent;
	}

	.team-slider__slider-button--left {
		left: 45px;
	}
	
	.team-slider__slider-button--right {
		right: 50px;
	}
}
