.team-slider__slide {
	display: flex;
	justify-content: center;
}

.team-slider__slide img {
	width: 360px;
	height: 356px;
	position: relative;
	right: -23px;
	z-index: 1;
}

.team-slider__container {
	border: 1px solid #a07b50;
	width: 660px;
	min-height: 402px;
	padding-left: 125px;
	background-color: #1f1c1d;
	position: relative;
	left: -23px;
}

.team-slider__name {
	font-size: 24px;
	margin-top: 95px;
	margin-bottom: 10px;
}

.team-slider__position {
	margin-top: 10px;
	margin-bottom: 30px;
}

.team-slider__description {
	color: #ffffff;
	opacity: 0.72;
	width: 405px;
	margin-bottom: 40px;
}
